body {
    background: lightblue;
    width: 100%;
    height: 100%;
    position: fixed
}

a {
    color: darkcyan
}

html {
    width: 100%;
    height: 100%;
}

.center {
    margin: auto;
    text-align: left;
    color: white; 
    width: 60%;
}

.whole-div {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
}

