html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background: lightblue;
    width: 100vw;
    margin: auto;
    /* overflow: hidden; */
}

a:hover {
    color: black;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

.page {
    width: 100vw;
    height: 100vh;
}

.nav-bar {
    /* background: black; */
    position: fixed;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
}

.home-link {
    opacity: 1;
    text-orientation: upright;
    text-align: right;
    position: relative;
    text-decoration: none;
    color: green;
    font-family: "Courier New", monospace;
    font-size: 1.5vw;
    display: none;
}

.nav-link {
    opacity: 1;
    position: relative;
    text-orientation: upright;
    text-decoration: none;
    color: green;
    font-family: "Courier New", monospace;
    font-size: 2.5vw;
    display: block;
}

.nav-pointer {
    opacity: 1;
    position: relative;
    text-orientation: upright;
    text-decoration: none;
    color: black;
    font-family: "Courier New", monospace;
    font-size: 1.5vw;
    display: inline;
}

.icons {
    position: fixed;
    left: 1%;
    bottom: 1%;
}

.icon {
    max-height: 2.5%;
    max-width: 2.5%;
}