html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: lightblue;
    width: 100vw;
    font-family: "Courier New", monospace;
}

a:hover {
    color: black;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

.page {
    width: 100vw;
    height: 100vh;
    top: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.home-content {
    width: 70vw;
    height: 50vh;
    margin: auto;
    /* background: black; */
    /* opacity: .5; */
    position: relative;
}

.home-hi {
    color: black;
}  

.home-name {
    color: white;
    font-size: 12.5vh;
}

.home-about {
    color: gray;
    font-size: 5vh;
}

.nav-bar {
    position: fixed;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
}

.home-link {
    opacity: 1;
    text-orientation: upright;
    text-align: right;
    position: relative;
    text-decoration: none;
    color: green;
    font-family: inherit;
    font-size: 1.5vw;
    display: none;
}

.nav-link {
    opacity: 1;
    position: relative;
    text-orientation: upright;
    text-decoration: none;
    color: green;
    font-family: "Courier New", monospace;
    font-size: 2.5vw;
    display: block;
}

.nav-pointer {
    opacity: 1;
    position: relative;
    text-orientation: upright;
    text-decoration: none;
    color: black;
    font-family: "Courier New", monospace;
    font-size: 1.5vw;
    display: inline;
}

.icons {
    position: fixed;
    left: 16%;
    bottom: 41%;
    z-index: 2;
    display: block;
}

.icon {
    max-height: 4.5%;
    max-width: 4.5%;
}

.icon:hover {
    border-radius: 10%;
    border-color: lightblue;
    border-style: solid;
}